aiofiles==23.2.1
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiohttp-cors==0.7.0
aiohttp-retry==2.8.3
aiosignal==1.3.1
anyio==4.3.0
appdirs==1.4.4
astunparse==1.6.3
async-timeout==4.0.3
asyncpg==0.29.0
attrs==24.2.0
beautifulsoup4==4.12.3
black==24.8.0
blinker==1.8.2
braceexpand==0.1.7
bs4==0.0.2
cachetools==5.5.0
cashews==7.3.0
certifi==2024.8.30
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
coloredlogs==15.0.1
config==0.5.1
dataclass-factory==2.16
discord-ios==1.1.1
emoji==2.13.2
fastapi==0.115.0
Flask==3.0.3
flatbuffers==24.3.25
frozenlist==1.4.1
google-ai-generativelanguage==0.6.6
google-api-core==2.19.2
google-api-python-client==2.144.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-generativeai==0.7.2
googleapis-common-protos==1.65.0
googletrans==3.0.0
grpcio==1.66.1
grpcio-status==1.62.3
h11==0.12.0
h2==3.2.0
hpack==3.0.0
hstspreload==2024.9.1
httpcore==0.9.1
httplib2==0.22.0
httpx==0.13.3
humanfriendly==10.0
humanize==4.10.0
hypercorn==0.13.0
hyperframe==5.2.0
idna==2.10
imageio==2.35.1
import_expression==1.1.5
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.4
jishaku==2.5.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
lazy_loader==0.4
llvmlite==0.43.0
loguru==0.7.2
MarkupSafe==2.1.5
meow.py @ git+https://github.com/parelite/discord.py@464ffd49bc730c972f2324d6de386ec5c392d2e4
mpmath==1.3.0
multidict==6.0.5
mypy-extensions==1.0.0
networkx==3.3
nudenet==3.4.2
numba==0.60.0
numpy==1.26.4
onnxruntime==1.19.2
opencv-python-headless==4.10.0.84
orjson==3.10.7
outcome==1.3.0.post0
packaging==24.1
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.3.1
pomice==2.9.1
pooch==1.8.2
priority==2.0.0
proto-plus==1.24.0
protobuf==4.25.4
psutil==6.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pydantic==1.10.18
pydub==0.25.1
pyee==11.1.1
PyMatting==1.1.12
pyparsing==3.1.4
pyppeteer==2.0.0
PySocks==1.7.1
pytesseract==0.3.13
python-dotenv==1.0.1
pytz==2024.2
Quart==0.19.6
redis==5.0.8
referencing==0.35.1
rembg==2.0.59
requests==2.32.3
rfc3986==1.5.0
rpds-py==0.20.0
rsa==4.9
scikit-image==0.24.0
scipy==1.14.1
selenium==4.24.0
shazamio==0.6.0
shazamio_core==1.0.7
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
starlette==0.38.5
sympy==1.13.2
tifffile==2024.8.30
tls-client==1.0.1
toml==0.10.2
tqdm==4.66.5
trio==0.26.2
trio-websocket==0.11.1
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==1.26.20
uvicorn==0.30.6
uwuipy==0.1.9
websocket-client==1.8.0
websockets==10.4
Werkzeug==3.0.4
wsproto==1.0.0
yarl==1.10.0
zipp==3.20.2
